<div class="container">
  <img src="../../../assets/cursos-cortos.png" alt="">
  <article>
    <h4><b>Quienes somos</b></h4>
    <p>En nuestra empresa Rosa Bonita, somos un equipo apasionado de expertos en belleza que se
      dedican a asesorar en cuanto a los productos de alta calidad que realzan la belleza natural
      de las mujeres. Nuestros fundadores tienen años de experiencia en la industria de la belleza
      y están comprometidos con la sostenibilidad y la innovación en todos los aspectos de nuestro
      negocio. Creemos en la belleza real y en la importancia de cuidar nuestro cuerpo y el planeta.

    </p>
    <h4><b>Vision</b></h4>
    <p>Nuestra visión es ser la marca de cosméticos más confiable y respetada en el mercado,
      reconocida por la calidad de nuestros productos y nuestro compromiso con la belleza natural.
      Queremos ser líderes en innovación y sostenibilidad, y ayudar a las mujeres a sentirse seguras,
      bellas y empoderadas.
    </p>
    <h4><b>Mision</b></h4>
    <p>Nuestra misión es vender productos de belleza de alta calidad y asequibles
      que promuevan la salud y el bienestar de las mujeres. Nos comprometemos a utilizar
      ingredientes naturales y no tóxicos en nuestros productos, así como a mantener altos
      estándares de calidad y sostenibilidad en todo lo que hacemos.
    </p>
  </article>
  <a href="https://web.whatsapp.com/" id="wpp"><img src="../../../assets/wpp.png" alt=""></a>
</div>
