
<nav class="navbar">
  <img src="./assets/lododef.png" alt="">
  <div class="nav">
    <a [routerLink]="['/','inicio']" routerLinkActive="active"><b>Inicio</b></a>
    <a [routerLink]="['/','productos']" routerLinkActive="active"><b>Productos</b></a>
    <a [routerLink]="['/','registro']" routerLinkActive="active"><b>Registrarse</b></a>
    <a [routerLink]="['/','nosotros']" routerLinkActive="active"><b>Sobre nosotros</b></a>
  </div>
  <button type="submit" [routerLink]="['/','form']">Ingresar</button>
</nav>

